<div class="modal-header">
  <h3 class="m-0">Share via Email</h3>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        formControlName="email"
        [class.is-invalid]="emailInvalid" />
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <div class="invalid-feedback" ngxErrors="email" #emailErrors="ngxErrors">
        <span ngxError="required" when="touched">Email is required.</span>
        <span ngxError="email" when="dirty">Must be a valid email.</span>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary text-uppercase"
    [disabled]="!form.valid"
    (click)="share.emit(form.value)">
    Share
  </button>
  <button type="button" class="btn btn-secondary text-uppercase" (click)="cancel.emit()">
    Cancel
  </button>
</div>


