<div class="container">
  <section class="row">
    <div class="col col-12">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus rem incidunt maxime, distinctio molestiae hic ipsum
        recusandae dignissimos eius dolore. Accusamus exercitationem animi facere corporis tempore asperiores officiis
        natus excepturi?
      </p>
    </div>

    <div class="col col-12 col-md-3 mb-2 mb-md-0">John Doe</div>
    <div class="col col-12 col-md-5 mb-2 mb-md-0">
      <span class="badge badge-info d-inline-block mr-2">Keyword 1</span>
      <span class="badge badge-info d-inline-block mr-2">Keyword 2</span>
      <span class="badge badge-info d-inline-block mr-2">Keyword 3</span>
      <span class="badge badge-info d-inline-block mr-2">Keyword 4</span>
      <span class="badge badge-info d-inline-block mr-2">Keyword 5</span>
      <span class="badge badge-info d-inline-block">Keyword 7</span>
    </div>
    <div class="col col-12 col-md-3 mb-2 mb-md-0">03/04/2020</div>

    <div class="col col-12 mb-4 mb-md-0 mt-md-4">
      <div class="float-md-right">
      	<button type="button" class="btn btn-danger btn-block-sm mb-2 mr-sm-2 mb-sm-0">Delete</button>
      	<button type="button" class="btn btn-primary btn-block-sm mb-2 mr-sm-2 mb-sm-0">Edit</button>
      	<button type="button" class="btn btn-secondary btn-block-sm">Share</button>
      </div>
    </div>
  </section>
</div>


