<div class="container-fluid container-md">
  <div class="row mt-4">
    <ng-container *ngIf="(loaders.get$ | async); else loaded">
      <alert type="info">
        Please wait while your speeches are being fetched.
      </alert>
    </ng-container>
  </div>
</div>

<ng-template #loaded>
  <ng-container *ngIf="(items$ | async) as items">
    <ng-container *ngIf="items.length > 0; else noSpeechesYet">
      <div class="d-flex d-md-none col col-12">
        <ng-container *ngIf="(hasSelectedSpeech$ | async); else speechNotFound"></ng-container>
      </div>

      <div class="col col-12 col-md-5"
        [class.d-none]="hasSelectedSpeech$ | async"
        [class.d-md-block]="hasSelectedSpeech$ | async">
          <div class="list-group">
            <cdk-virtual-scroll-viewport itemSize="20" [style.minHeight.vh]="80">
              <a class="list-group-item list-group-item-action"
                routerLinkActive="active"
                [routerLink]="['/my-speeches', item.id]"
                *cdkVirtualFor="let item of items"
                #speechRla="routerLinkActive">
                {{ item.content | truncate:0:20 }}
                <i class="fas fa-arrow-right float-right" *ngIf="speechRla.isActive"></i>
              </a>
            </cdk-virtual-scroll-viewport>
          </div>
      </div>

      <div class="col col-12 col-md-7">
        <router-outlet></router-outlet>
        <div class="d-none d-md-block">
          <ng-container *ngIf="(hasSelectedSpeech$ | async); else speechNotFound"></ng-container>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #noSpeechesYet>
  <div class="col col-12">
    <alert class="w-100" type="info">
      There are no saved speeches. Please <a [routerLink]="['/submit-speech']">create a new one</a>.
    </alert>
  </div>
</ng-template>

<ng-template #speechNotFound>
  <alert class="w-100" type="info" *ngIf="(hasSelectedSpeechParam$ | async); else noSelected">
    Requested speech cannot be found. Please select one for the
    <a [routerLink]="['/my-speeches']">list of speeches</a>.
  </alert>
</ng-template>

<ng-template #noSelected>
  <alert class="w-100" type="info">
    Please click 1 speech in list to view its details.
  </alert>
</ng-template>


